

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/foodbackground.jpg);
    background-attachment: fixed;
    font-family: 'Fredoka One', 'cursive';
}

header {
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: #89a8e2;
    padding: 0em;
    z-index: 2;
    color: #ffdd4a;
    border-bottom: 1.5px solid #893600;
}

.title {
    text-align: center;
    position: relative;
    top: 1em;
}

.buttons-sidebar {
    position: fixed;
    top: 67px;
    height: 100%;
    width: 25%;
    background-color: #ffdd4a;
    padding: 0.25em;
    color: #893600;
    border-right: 1.5px solid #893600;
    text-align: center;
    z-index: 1;
}

.buttons-title {
    margin: 0.5em;
}

form {
    position: relative;
    top: 0;
    padding: 0.5em;
}

label {
    margin-bottom: 0.5em;
}

hr {
    margin: 0.75em;
    border: 1px #893600 solid;
}

.hr2 {
    margin: 0;
    border: 0.5px #893600 solid;
}

#addFood {
    background-color: #893600;
    border: 1.5px #893600 solid;
    border-radius: 0.5em;
    padding: 0.5em;
    color: #fff4c8;
    font-weight: bold;
    margin-top: 0.5em;
    cursor: copy;
}

.buttons {
    background-color: #893600;
    border: 1.5px #893600 solid;
    border-radius: 0.5em;
    padding: 0.4em;
    color: #fff4c8;
    font-weight: bold;
    margin: 0.2em;
    font-size: 0.7em;
    cursor: pointer;
}

#food-input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1.5px solid #893600;
    background-color: #fff4c8;
    color: #893600;
    margin-top: 0.5em;
}

.button-container {
    position: relative;
    top: 0.5em;
    padding: 0.5em;
    margin: 0.1em;
}

.gif-container {
    float: right;
    background: transparent;
    padding: 2em;
    width: 68%;
    position: relative;
    top: 47px;
    height: 70em;
}

p {
    color: #893600;
    margin: 0.5em;
}

.newDiv {
    background-color: rgb(137, 168, 226);
    border: 1px solid #893600;
    margin: 1.5em;
    text-align: center;
}

img {
    border:1px solid #893600;
    margin: 0.5em;
    cursor: pointer;
}

@media screen and (max-width: 680px) {

    header {
    height: 40px;
    }

    .title {
    font-size: 0.75em;
    top: 0.5em;
    }

    .buttons-sidebar {
        position: relative;
        bottom: 100px;
        top: 40px;
        width: 100%;
        font-size: 0.8em;
        height: 33%;
        z-index: 0;
        border: 1.5px solid #893600;
    }

    hr {
        margin: 0.6em;
    }

    .hr2 {
        margin: 0.3em 0 0.3em 0;
    }
    #food-form {
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 0.75em;
    }

    #food-input {
        width: 80%;
        margin-bottom: 0.5em;
        padding: 0;
    }

    .button-container {
        padding: 0;
        text-align: center;
    }

    .buttons {
        margin: 0.5em;
        font-size: 0.5em;
    }

    .gif-container {
        top: 40px;
        width: 95%;
        padding: 0.5em;
    }

    img {
        height: 80px;
    }

    p {
        margin: 0.1em;
        font-size: 0.7em;
    }
}
